body{
background-color: black;
color: white;
}
h1{
    text-align: center;
}

.corpo{
    margin:auto;
    width: 960px;


}
.conteudo{
    display: table;
}
.imagem{
    display: table-cell;
    float: left;
    margin-top:10px;
    margin-right: 10px;
}
.mr-3{
border-radius: 10px;

}